@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=display-width" />
    <title>Index</title>
</head>
<body>
    <h2 style="text-align: center;">Hello, @Model.FirstName!</h2>
</body>
</html>

